<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93868247261-r03jtikdr0etft9pmsgo6v0rsm2a4pqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93868247261-r03jtikdr0etft9pmsgo6v0rsm2a4pqf</string>
	<key>API_KEY</key>
	<string>AIzaSyBG_KhDYgbiwIN6dmTiBJ6kpDAEk0PQ-Q0</string>
	<key>GCM_SENDER_ID</key>
	<string>93868247261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.propup.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>propup-c7cd1</string>
	<key>STORAGE_BUCKET</key>
	<string>propup-c7cd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93868247261:ios:d917881d98e3079525b334</string>
</dict>
</plist>